<p id="notice"><%= notice %></p>

<h1>Kids</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kids.each do |kid| %>
    <%path = "/products/" + String(kid.product_id)%>
      <div class="card">
        <img src=<%=kid.product.imageSource%> alt ="" class="center" width="300" height= "300" >
        <div class="center">
          <h2><%=kid.product.name%></h2>
          <p class="price">$<%=kid.product.price%></p>
          <p><%=kid.product.description%></p>
          <input id= <%=kid.product.id%> type="button" onclick="myFunction(<%=kid.product.id%>, this);" />
        <script>
          if (localStorage.getItem(<%=kid.product.id%>) !== null){
            document.getElementById(<%=kid.product.id%>).value = "Saved";
            document.getElementById(<%=kid.product.id%>).style.color = "blue";
          }
          else
          {
            document.getElementById(<%=kid.product.id%>).value = "+";
          }
        </script>
          <p><button>Add to Cart</button></p>
      </div>
    </div>
      <tr>
        <td><%= kid.product_id%></td>
        <td><%= link_to 'Show', path %></td>
        <td><%= link_to 'Edit', edit_kid_path(kid) %></td>
        <td><%= link_to 'Destroy', kid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kid', new_kid_path %>
