<p id="notice"><%= notice %></p>



<h1>Kids</h1>
<div class="center">
<%@kids.each do |kid| %>
<%path = "/products/" + String(kid.product_id)%>
  <div class="grid-container">
  <div class="grid-item">
    <a href=<%=path%>><div class="card">
      <div class="center">
      <img width="300" height= "300" class="center" src=<%=kid.product.imageSource%> >
      <div class="center">
        <b><%=kid.product.name%></b>
      </div>
      </a>
      <div>
        <p class = "center">$<%=kid.product.price%></p>
        <p><%=kid.product.description%></p>
        <input id= <%=kid.product.id%> type="button" onclick="myFunction(<%=kid.product.id%>, this);" />
        <script>
          if (localStorage.getItem(<%=kid.product.id%>) !== null){
            document.getElementById(<%=kid.product.id%>).value = "Saved";
            document.getElementById(<%=kid.product.id%>).style.color = "blue";
          }
          else
          {
            document.getElementById(<%=kid.product.id%>).value = "+";
          }
        </script>
        <input type="button" value = "Add to Cart"/>
      </div>
    </div>
  </div>
  </div>
  </div>
<%end%>
</div>

<br>

<script>
      function myFunction(x, elmnt){
      if (localStorage.getItem(x) !== null){
      alert("Removing product " + x + " from saved list");
      localStorage.removeItem(JSON.stringify(x));
      elmnt.value = '+';
      elmnt.style.color = 'black';
    }
    else{
      alert("Product saved with id " + x);
      localStorage.setItem(JSON.stringify(x), JSON.stringify(x));
      elmnt.value = 'Saved';
      elmnt.style.color = 'blue';
    }
    }; 
</script>