<p id="notice"><%= notice %></p>

<h1>Products</h1>

<script>
      function myFunction(x, elmnt){
      if (localStorage.getItem(x) !== null){
      alert("Removing product " + x + " from saved list");
      localStorage.removeItem(JSON.stringify(x));
      elmnt.value = '+';
      elmnt.style.color = 'black';
    }
    else{
      alert("Product saved with id " + x);
      localStorage.setItem(JSON.stringify(x), JSON.stringify(x));
      elmnt.value = 'Saved';
      elmnt.style.color = 'blue';
    }
    }; 
</script>
<nav>
      <a class="nav-link" href="/men">Mens</a>
      <a class="nav-link" href="/women">Womens</a>
      <a class="nav-link" href="/kids">Kids</a>
</nav>

<% @products.each do |product| %>
  <div class="grid-container">
  <div class="grid-item">
    <div class="card">
      <img src=<%=product.imageSource%> alt ="" class="center" width="300" height= "300" >
      <div class="center">
        <h2><%=product.name%></h2>
        <p class="price">$<%=product.price%></p>
        <p><%=product.description%></p>
        <input id= <%=product.id%> type="button" onclick="myFunction(<%=product.id%>, this);" />
        <script>
          if (localStorage.getItem(<%=product.id%>) !== null){
            document.getElementById(<%=product.id%>).value = "Saved";
            document.getElementById(<%=product.id%>).style.color = "blue";
          }
          else
          {
            document.getElementById(<%=product.id%>).value = "+";
          }
        </script>
        <input type="button" value = "Add to Cart"/>
      </div>
    </div>
  </div>
  </div>
<%end%>


<br>

<%= link_to 'New Product', new_product_path %>
