<p id="notice"><%= notice %></p>

<div class = "center">
  <div class="card">
      <img src=<%= @product.imageSource%> alt="">
      <div class="container">
        <h4><b><%=@product.name%></b></h4>
        <p><%=@product.description%></p>
        <p><%=@product.price%></p>
      </div>
  </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
