<p id="notice"><%= notice %></p>

<h1>Women</h1>

<% @women.each do |woman| %>
<%path = "/products/" + String(woman.product_id)%>
  <div class="grid-container">
  <div class="grid-item">
    <div class="card">
      <img src=<%=woman.product.imageSource%> alt ="" class="center" width="300" height= "300" >
      <div class="center">
        <h2><%=woman.product.name%></h2>
        <p class="price">$<%=woman.product.price%></p>
        <p><%=woman.product.description%></p>
        <input id= <%=woman.product.id%> type="button" onclick="myFunction(<%=woman.product.id%>, this);" />
        <script>
          if (localStorage.getItem(<%=woman.product.id%>) !== null){
            document.getElementById(<%=woman.product.id%>).value = "Saved";
            document.getElementById(<%=woman.product.id%>).style.color = "blue";
          }
          else
          {
            document.getElementById(<%=woman.product.id%>).value = "+";
          }
        </script>
        <input type="button" value = "Add to Cart"/>
      </div>
    </div>
  </div>
  </div>
  <tr>
        <td><%= woman.product_id%></td>
        <td><%= link_to 'Show', path %></td>
        <td><%= link_to 'Edit', edit_woman_path(woman) %></td>
        <td><%= link_to 'Destroy', woman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <tr>
<%end%>


<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Product</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @women.each do |woman| %>-->
<!--    <%path = "/products/" + String(woman.product_id)%>-->
<!--      <div class="card">-->
<!--        <img src=<%=woman.product.imageSource%> alt ="" class="center" width="300" height= "300" >-->
<!--        <div class="center">-->
<!--          <h2><%=woman.product.name%></h2>-->
<!--          <p class="price">$<%=woman.product.price%></p>-->
<!--          <p><%=woman.product.description%></p>-->
<!--          <p><button>Add to Cart</button></p>-->
<!--      </div>-->
<!--    </div>-->
<!--      <tr>-->
<!--        <td><%= woman.product_id%></td>-->
<!--        <td><%= link_to 'Show', path %></td>-->
<!--        <td><%= link_to 'Edit', edit_woman_path(woman) %></td>-->
<!--        <td><%= link_to 'Destroy', woman, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<br>



<script>
      function myFunction(x, elmnt){
      if (localStorage.getItem(x) !== null){
      alert("Removing product " + x + " from saved list");
      localStorage.removeItem(JSON.stringify(x));
      elmnt.value = '+';
      elmnt.style.color = 'black';
    }
    else{
      alert("Product saved with id " + x);
      localStorage.setItem(JSON.stringify(x), JSON.stringify(x));
      elmnt.value = 'Saved';
      elmnt.style.color = 'blue';
    }
    }; 
      
      function saved(x, elmnt)
      {
          if (localStorage.getItem(x) !== null){
            elmnt.value = 'Saved';
          }
          else
          {
            elmnt.value = '+';
          }
      };
</script>
<%= link_to 'New Woman', new_woman_path %>
