<p id="notice"><%= notice %></p>

<h1>Women</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @women.each do |woman| %>
    <%path = "/products/" + String(woman.product_id)%>
      <div class="card">
        <img src=<%=woman.product.imageSource%> alt ="" class="center" width="300" height= "300" >
        <div class="center">
          <h2><%=woman.product.name%></h2>
          <p class="price">$<%=woman.product.price%></p>
          <p><%=woman.product.description%></p>
          <p><button>Add to Cart</button></p>
      </div>
    </div>
      <tr>
        <td><%= woman.product_id%></td>
        <td><%= link_to 'Show', path %></td>
        <td><%= link_to 'Edit', edit_woman_path(woman) %></td>
        <td><%= link_to 'Destroy', woman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Woman', new_woman_path %>
