<html lang="en">
<head>
  <title>PHISH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-light" style="background-color: #B482FD;">
    <a class="navbar-brand" href="/">
      <img src="https://live-production.wcms.abc-cdn.net.au/904d3f268db9acdbc57181edb782e984?impolicy=wcms_crop_resize&cropH=636&cropW=951&xPos=0&yPos=27&width=862&height=575" alt="" width="30" height="24">
    </a>
    <a class="navbar-brand" href="/">PHISH</a>
    
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <% if current_user %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="dropdown">
            <span>Shop</span>
            <div class="dropdown-content">
              <a class="nav-link" href="/men">Mens</a>
              <a class="nav-link" href="/women">Womens</a>
              <a class="nav-link" href="/kids">Kids</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faqs">FAQs</a>
        </li>
      </ul>
        
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <br/>
        <a class="navbar-shoppingCart" href="#">
          <img src="images/shopping-cart.png" alt="" width="30" height="30">
        </a>
        <br/>
        <%= "Logged in as #{current_user.name}" %> <%= button_to 'Log Out', logout_path, method: :delete%>
        </div>
    <% else %>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/products">Shop All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new_arrivals">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/men">Mens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/women">Womens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kids">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faqs">FAQs</a>
        </li>
    </ul>
        
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <br/>
        <a class="navbar-shoppingCart" href="/">
          <img src="images/shopping-cart.png" alt="" width="30" height="30">
        </a>
        <%= link_to 'Log In', login_path %>  or <%= link_to 'Sign Up', new_user_path %> or <%=link_to "Sign in with Twitter", "/auth/twitter", method: :post%>
        <br/>
        <a class="navbar-brand" href="/">By MAKITA n SIMON</a>
      
    </div>
  <% end %>
  </div>  
</nav>



<!--<nav class="navbar navbar-expand-md" style="background-color: #CC8899;">-->
<!--  <div class="container-fluid">-->
      
<!--    <a class="navbar-brand" href="/">-->
<!--      <img src="https://live-production.wcms.abc-cdn.net.au/904d3f268db9acdbc57181edb782e984?impolicy=wcms_crop_resize&cropH=636&cropW=951&xPos=0&yPos=27&width=862&height=575" alt="" width="30" height="24">-->
<!--    </a>-->
    
<!--    <a class="navbar-brand" href="/">PHISH</a>-->
    
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Shop</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/about">About Us</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Contact Us</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">FAQs</a>-->
<!--        </li>-->
        
        <!--<li class="nav-item dropdown">-->
        <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--    bruh-->
        <!--  </a>-->
        <!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
        <!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--    <li><hr class="dropdown-divider"></li>-->
        <!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--  </ul>-->
        <!--</li>-->
<!--        </ul>-->
<!--        <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
        
<!--        <a class="navbar-shoppingCart" href="#">-->
<!--          <img src="images/shopping-cart.png" alt="" width="30" height="30">-->
<!--        </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->